.searchContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: top 0.3s ease-in-out;
}

.noBanner {
  top: 20px;
}
.withBanner {
  top: 80px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background: white;
  padding: 0 10px 0 16px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  overflow: hidden;
}

.inputWrapper:focus-within {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.searchIcon {
  color: #757575;
  font-size: 18px;
  margin-right: 12px;
  flex-shrink: 0;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: #222;
  font-weight: 500;
  min-width: 0;
}

.clearButton {
  background: #e0e0e0;
  border: none;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  padding: 0;
  transition: background 0.2s;
}

.clearButton:hover {
  background: #d0d0d0;
}

.clearButton svg {
  display: block;
}

.resultsList {
  background: white;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  max-height: 320px;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.resultsList::-webkit-scrollbar {
  display: none;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  transition: background 0.2s;
}

.resultItem:last-child {
  border-bottom: none;
}
.resultItem:hover {
  background-color: #f7f9fc;
}

.iconBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  flex-shrink: 0;
  color: white;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.resultText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

.resultName {
  font-weight: 600;
  font-size: 15px;
  color: #333;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.resultSub {
  font-size: 13px;
  color: #888;
  text-align: left;
}

@media (max-width: 768px) {
  .searchContainer {
    width: 94%;
  }

  .withBanner {
    top: 130px;
  }
}
